target/
build/
bin/
node_modules/
dist/

.settings
.mvn
.gradle
.project
.classpath
.vscode
.factorypath
.idea
.DS_Store

nbactions.xml
**/gradle/wrapper/
/spring/contract-rest-service/nbproject/
/spring/contract-rest-client/nbproject/
/jfx/fx2/nbproject/private/
/jfx/fx2/dist/
